<!DOCTYPE html>
<html>
  <%= erb :'partials/head' %>
  <body>
    <%= erb :'partials/menu_banner' %>
    <h1 class="belowHeader">
      Add a Client
    </h1>

    <div class="belowHeader">
      <div class="column">
        <form action="/add_client" method="POST">
          <fieldset>
            <label>Client Status:</label>
            <%= erb :'partials/client_status' %>
            <input id="client-entry" size="50" type="text" name="new_client" class="form-control" placeholder="Enter a client">
            <input type="submit" value="Submit" class="button">
          </fieldset>
        </form>
      </div>

      <%  if @clients %>
        <table class="table table-striped" id="smallTable">
          <tr>
            <td><b>Clients</b></td>
          </tr>
          <% @clients.each do |client| %>
            <tr>
              <td><a href="/<%= client.id %>"> <%= "#{client.name}" %> </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </body>
</html>
