<html>
  <head>
    <link rel="stylesheet" type="text/css" href="cluster.css">
  </head>
  
  <br>

  <body>
    <h1>
      Cluster: View all tasks
  </h1>
    <%  if @clients != nil %>
      <table border=".25">
        <tr>
          <td><b>Client</b></td>
          <td><b>Task</b></td>
          <td><b>Completed?</b></td>
          <td><b>Click to Complete</b></td>
        </tr>
        <% @clients.each do |client| %>
          <% client.task_models.all(:order => [:priority.desc]).each do |task| %>
            <tr>
              <td> <%= "#{client.name}" %> </td>
              <td> <%= "#{task.description}" %> </td>
              <td> <%= "#{task.completed}" %> </td>
              <td> 
                <form action="/complete_task" method="POST" onClick="return confirm('Are you sure this is complete?')">
                  <input type="hidden" name="client_id" value="<%= client.id %>">
                  <input type="hidden" name="task_id" value="<%= task.id %>">
                  <input type="submit" value="Complete">
                </form>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
    <p><a href="/">View top tasks</a></p>
    <p><a href="/add_client">Add client</a></p>
    <p><a href="/add_task">Add a task</a></p>
  </body>
</html>
