<!DOCTYPE html>
<html>
  <%= erb :'partials/head' %>
  <body>
    <%= erb :'partials/menu_banner' %>
    <h1 class="belowHeader">
      Prospective Clients
    </h1>
    <div class="belowHeader">
      <%  if @clients %>
        <table class="table table-striped" id="smallTable">
          <tr>
            <td><b>Prospects</b></td>
            <td><b>Status</b></td>
            <td><b>Click to Change</b></td>
          </tr>
          <% @clients.each do |client| %>
            <form action="/prospects" method="POST">
              <tr>
                <td><a href="/<%= client.id %>"> <%= "#{client.name}" %> </td>
                <td> <%= erb :'partials/client_status' %></td>
                <td> 
                  <input type="hidden" name="client_id" value="<%= "#{client.id}" %>">
                  <input type="submit" value="Change" class="button">
                </td>
              </tr>
            </form>
          <% end %>
        </table>
      <% end %>
    </div>
  </body>
</html>
